<div class="education">
    <p class="title">Education</p>
    <br />
    <each loop="program in education">
        <div class="program">
            <h4 class="study">{{program.studyType}} in {{program.area}}</h4>
            <p class="institution"><a href="{{program.website}}">{{program.institution}}</a></p>
            <p class="summary">{{new Date(program.startDate).getFullYear() + 1}} - {{new Date(program.endDate).getFullYear() + 1}} | {{program.location}}</p>
            <p></p>
        </div>
    </each>
</div>
