#loader {
    z-index: 100;
    opacity: 1;
    background-color: #ffffff;
    position: fixed;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    pointer-events: none;
}

#loader.loaded {
    opacity: 0;
}
