/* paraagraph */
p {
    margin-bottom: 0;
    margin-top: 0;
}

/* headers */
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

/* links */
a {
    color: #8c8c8c;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}
a:hover {
    color: #000000;
}

/* buttons */
button {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    height: 35px;
    color: #a0a0a0;
    border: 1px solid #a0a0a0;
    line-height: 1;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

button:hover {
    color: #000000;
    border-color: #000000;
}

/* lists */
ul {
    color: #a0a0a0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.2rem;
}

li span {
    color: #000;
}
ul.inline {
    padding-left: 0;
}

ul.inline li {
    display: inline;
}

li {
    /* list-style: none; */
    margin-bottom: 0.25rem;
}
